@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --title-font: "Black Ops One", system-ui;
  --cream: #faf3e1;
  --dark-cream: #f5e7c6;
  --orange: #fa8112;
  --dark-gray: #222222;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: var(--cream);
}

.titleScreenContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.titleScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gameTitle {
  font-family: var(--title-font);
  font-weight: 400;
  font-style: normal;
  font-size: 3.5rem;
  color: var(--dark-gray);
}

.controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.titleContainer {
  display: flex;
  gap: 10px;
  align-items: center;
}

.cannon {
  width: 40px;
  height: auto;
}

.cannonImage {
  display: flex;
  justify-content: flex-end;
}

.cannon.hidden {
  display: none;
}

p.selectPlayer {
  font-family: var(--title-font);
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  color: var(--dark-gray);
}

.selectMode {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-items: center;
  column-gap: 12px;
  width: fit-content;
}

.shipWheelBlack {
  width: 100px;
  height: auto;
}

.arrow rect#primary {
  fill: #f5e7c6;
}

.arrow.activated rect#primary {
  fill: var(--dark-gray);
}

.enterKey.activated,
.rotate.activated {
  background-color: var(--dark-gray);
  color: var(--cream);
}

.arrowFlexContainer,
.upArrow {
  flex: 1;
}
.upArrowContainer {
  display: flex;
}

.leftArrow {
  transform: rotate(270deg);
}

.downArrow {
  transform: rotate(180deg);
}
.rightArrow {
  transform: rotate(90deg);
}

.enterKey,
.rotate {
  background-color: var(--dark-cream);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 2px solid var(--dark-gray);
  gap: 5px 10px;
  padding: 15px;
}

.enterText {
  font-size: 1.4rem;
}

.gameboard {
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);
  width: 500px;
  height: 500px;
  border: 2px solid var(--dark-gray);
  box-sizing: content-box;
}

.cell {
  border: 1px solid var(--dark-gray);
  border-collapse: collapse;
}

.hasShip {
  background-color: var(--orange);
}

.boardsContainer,.shipPlacementContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.shipsContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.carrier,
.battleship,
.destroyer,
.submarine,
.patrol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.carrierText,
.battleshipText,
.destroyerText,
.submarineText,
.patrolText {
  font-size: 1.4rem;
}

.carrierBody,
.battleshipBody,
.destroyerBody,
.submarineBody,
.patrolBody {
  display: flex;
  align-items: stretch;
  border: 1px solid var(--dark-gray);
  background-color: var(--orange);
}

.carrierCell,
.battleshipCell,
.destroyerCell,
.submarineCell,
.patrolCell {
  width: 50px;
  height: 50px;
  border: 2px solid var(--dark-gray);
  border-collapse: collapse;
}
.placeShipsContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.cell.hovered {
  background-color: #ffb168;
}

.placeShipsContainer + .controls {
  margin-top: 40px;
  margin-bottom: 10px;
}

.rText {
  font-size: 1.4rem;
}
